    /**
 * Uniminuto 
 * Arquitectura de Software 
 * Docente: Yamid Ramirez       NRC: 3242
 * @author Cristian rodriguez   baruchneo@gmail.com         IdGenesis: 000034860
 * @author Cristian Vargas      cvarga35@uniminuto.edu.co   IdGenesis: 000164598
 * @author Yohan EspaNa         espanaqwe123@gmail.com      IdGenesis: 000127710
 * @author Wilson Lombana       sonwil1525@gmail.com        IdGenesis: 000065955
 * Marzo 2014
 */

#Admin{
background: url(../images/AdministatorTemplate.png) 0 0 no-repeat; 
width: 841px;
height: 892px;
z-index: 2;
position:relative;
left: 34px;
top: 0px;

}

/*#fondo{
background: url(../images/ClientTemplate.png) 0 0 no-repeat; 
width: 929px;
height: 882px;
z-index: 2;
position:relative;
left: 40px; 
top:33px; 
}*/

body {
  background: url(../images/background.jpg) 0 0 repeat; 
    margin: 36px auto;
    width: 929px;

}

div.content {
    clear: left;
    padding: 1em;

}

ol#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#toc a {

    color:#FFFFFF;
    display: block;
    float: left;
    width: 169px;
    height: 50px;
    padding-left: 10px;
    text-decoration: none;
}

ol#toc a:hover {
   border-bottom: medium double ;
   border-top: medium double ;
   border-width: 3px;
   border-color: ffffff; 
}

ol#toc a:hover span {
    background-position: 100% -120px;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc li.current a {
   border-bottom: medium double ;
   border-top: medium double ;
   border-width: 3px;
   border-color: ffffff; 
}

ol#toc li.current span {
    background-position: 100% -60px;
}

ol#toc span {
    background: url(tabs.gif) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}


#grid{
width: 488px;
height: 326px;
z-index: 2;
position: relative;
left: 117px;
top: -136px;
    
}

#grid_Conten{
width: 751px;
height: 328px;
z-index: 2;
position: relative;
left: 33px;
top: -961px;    
}

#scroll{
width: 786px;
height: 362px;
overflow-y: scroll;
position: relative;
left: -18px;
top: -15px;
}
#scroll_preba{
width: 191px;
height: 142px;
overflow: scroll;
position:relative;
left: 300px;
top: 0px;

}

#gridAdminProvider{
width: 177px;
height: 56px;
z-index: 2;
position:relative;
left: 68px;
top: -687px;
}

#gridAdminService{
width: 177px;
height: 56px;
z-index: 2;
position:relative;
left: 264px;
top: -742px;
}

#gridAdminPackage{
width: 177px;
height: 56px;
z-index: 2;
position:relative;
left: 464px;
top: -798px;
}

#gridAdminClient{
width: 177px;
height: 56px;
z-index: 2;
position:relative;
left: 664px;
top: -854px;
}

#gridAdminHistory{
width: 177px;
height: 56px;
z-index: 2;
position: relative;
left: 626px;
top: -430px;
}

#gridAdminQuest{
width: 177px;
height: 56px;
z-index: 2;
position: relative;
left: 426px;
top: -486px;
}

#login{
position:relative;
left: 34px;
top: 0px;

}
#login input {
position: relative;
left: 238px;
top: -839px;
padding: 7px;
z-index: 4;
}

#login a{
position: relative;
left: 742px;
top: -879px;
padding: 5px;
    z-index:4;
}


#login2{
position:relative;
left: 34px;
top: 0px;

}
#login2 input {
position: relative;
left: 365px;
top: 182px;
padding: 7px;
z-index: 4;
}

#login2 a{
position: relative;
left: 836px;
top: 142px;
padding: 5px;
    z-index:4;
}

#login2 input { 
   background: #fff;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
} 
 
#login2 input:focus{ 
   background-color: #E5E6E7;
} 

#login2 #submit { 
   width: 83px;
   height: 39px;   
   color: #BFD7C1; 
   border: none; 
   background-color: #6EA070;
} 

#login2 #submit:hover {
background-color: #BFD7C1;
color: #6EA070;
}